.MoreGames {
    padding-top: 20px;
}

.MoreGamesTitle {
    color: white;
    font-weight: 900;
    font-size: 38px;
    margin-bottom: 8px;
}

.MoreGamesItemContainer {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.MoreGamesItemContainer:hover {
    background-color: rgba(30, 30, 30, 0.421);
    border-radius: 8px;
}

.MoreGamesItemThumbnail {
    border-radius: 15px;
}

.MoreGamesItemInfo {
    padding: 8px;
    padding-left: 12px;
}

.MoreGamesItemTitle {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.MoreGamesItemBadgeBar {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    overflow: hidden;
}

.MoreGamesItemBadge {
    background-color: #46464693;
    color: rgb(188, 188, 188);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    padding: 2px 10px;
}

.MoreGamesItemReleaseDate {
    color: rgb(116, 116, 116);
    font-weight: 400;
    font-size: 16px;
}

.MoreGamesItemActions {
    align-self: center;
    margin-left: auto;
}

.MoreGamesItemPrice {
    display: inline;
    border-radius: 15px;
    font-size: 18px;
    padding: 9px 15px;
    text-align: center;
    color: white;
    background-color: #ff333b;
}

.MoreGamesItemBuy:hover {
    cursor: pointer;
}

.MoreGamesLinkToCategory {
    display: block;
    width: 30%;
    background-color: rgb(61, 61, 61);
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}