.RandomGamePage {
    margin-top: 160px;
    color: white;
}

.RandomGamePage h1 {
    text-align: center;
}

.RandomGamePageDescription {
    text-align: center;
    color: gray;
    font-weight: 400;
}

.RandomGamePagePrizes {
    margin-top: 30px;
}

.RandomGamePagePrizesTitle {
    font-size: 24px;
    text-align: center;
}

.RandomGamePagePrizesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 21px;
}

.RandomGamePagePrizeItem {
    border-bottom: 3px solid #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    background: #1d1d1d;
    border-radius: 16px;
    padding: 5px;
}

.RandomGamePagePrizeItemImage {
    width: 231px;
    height: auto;
}

.RandomGamePagePrizesPostfix {
    font-weight: 900;
    font-size: 16px;
    margin-top: 12px;
    text-align: center;
}