.GameFullInfoActionsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.GameFullInfoAction {
    color: white;
    padding: 12px;
    background-color: rgba(51, 51, 51, 0.351);
    font-weight: 900;
    border-radius: 8px;
    font-size: 14px;
}

.GameFullInfoAction:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.GameFullInfoActionActive {
    text-align: center;
    background-color: white;
    color: black;
    padding: 12px;
    font-weight: 900;
    border-radius: 8px;
    font-size: 14px;
}

.GameFullInfoActionActive:hover {
    cursor: pointer;
}

.GameFullInfoContentContainer {
    width: 1090px;
    min-height: 190px;
    margin-top: 15px;
    color: white;
}

.GameFullInfoPoint {
    color: #ffffff81;
}

.GameFullInfoFullDescription {
    text-align: left;
    width: 980px;
    padding-top: 12px;
    font-size: 16px;
}

.GameFullInfoCharacteristic {
    font-size: 14px;
    font-weight: 400;
}

.GameFullInfoMovies {
    padding-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.GameFullInfoMovie {
    width: 150px;
    height: 84.5px;
    border-radius: 15px;
}

.GameFullInfoTypeTitle {
    font-size: 21px;
    font-weight: 900;
    padding-top: 12px;
}

.BxItemInstruction {
    counter-reset: counter;
    padding: 15px;
}

.BxItemInstruction li {
    list-style: none;
    line-height: 1.5;
    padding-left: 40px;
    position: relative;
    margin-bottom: 24px;
}

.BxItemInstruction li:before {
    content: counter(counter);
    counter-increment: counter;
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #ff333b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
}