.styled-header {
    color: white;
    position: fixed;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    right: 0;
    padding-left: 45px;
    z-index: 2;
}

.header-wrap {
    display: flex;
    align-items: center;
    padding-top: 18px;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.styled-wrap {
    min-width: 157px;
    cursor: pointer;
}
