.StyledGamePage {
    background-size: cover;
    background-position: center;
    img {
      object-fit: contain;
    }
}

.StyledGamePageMainSection {
    display: flex;
    gap: 50px;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: 150px;
    z-index: 1;
}

.StyledGamePageBxImage {
    border-radius: 15px;
}

.StyledGamePageGameTitle {
    padding-top: 18px;
    font-size: 33px;
    font-weight: 900;
    line-height: 1.2em;
    max-height: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    text-align: left;
}

.StyledGamePageGameDescription {
    height: 70px; 
    width: 100%;  
    overflow: hidden;  
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: white;
    margin-top: 8px;
    margin-bottom: 18px;
}

.StyledGamePageGenresContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 15px;
    row-gap: 5px;
    align-items: center;
}

.StyledGamePageGenre {
    color: white;
    padding: 8px;
    border: 1px solid hsla(0, 0%, 100%, .102);
    border-radius: 12px;
    white-space: nowrap;
}

.StyledGamePageGalleryContainer {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.StyledGamePageInfoContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-height: 800px;
}

.StyledGamePageGamePrice {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 51px;
    line-height: 150%;
    color: #ffffff;
    text-align: left;
}

.StyledGamePageGameCurrentPrice {
    color: white;
    font-size: 51px;
    font-weight: 900;
    margin: 0;
}

.StyledGamePageGameOldPrice {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 12px;
    color: #848484;
    position: relative;
    display: inline-block;
    margin: 0;
    text-decoration: line-through;
  
    &:after {
      content: "₽";
      font-size: 24px;
      margin-left: 2px;
    }
}

.StyledGamePageGameDiscount {
    font-size: 11px;
    font-weight: 900;
    color: white;
    background-color: #D91E18;
    border-radius: 25px;
    width: 62px;
    height: 19.89px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: -10px;
    margin-top: 7px;
}

.StyledGamePageYandexMarketBanner {
    margin-top: 50px;
    width: 100%;
    padding: 18px;
    background-color: #ffd41d;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.StyledGamePageYandexMarketBannerTitle {
    font-weight: 900;
    font-size: 26px;
}

.StyledGamePageYandexMarketBannerDescription {
    margin-top: 8px;
    font-size: 18px;
}


.StyledGamePageYandexMarketBannerInfo {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StyledGamePageYandexMarketBannerLink {
    text-decoration: none;
    color: #006933;
}

.StyledGamePageYandexMarketBannerPrice {
    color: #006933;
    font-size: 32px;
    font-weight: 900;
}

.StyledGamePageYandexMarketBannerRating {
    color: #b0824a;
    font-size: 18px;
    font-weight: 900;
}

.StyledGamePageMainBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.StyledGamePageSimilarGamesTitle {
    font-size: 33px;
    font-weight: 900;
    color: white;
    text-align: left;
    padding-bottom: 20px;
}

.StyledGamePageSimilarGamesContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.StyledGamePageSimilarGame {
    text-decoration: none;
}

.StyledGamePageSimilarGameThumbnail {
    border-radius: 15px;
}

.StyledGamePageSimilarGamePrice {
    padding-top: 9px;
    font-size: 21px;
    font-weight: 900;
    color: white;
}

.StyledGamePageSimilarGameTitle {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}


.StyledGamePageBxImageRegion {
    position: absolute;
    top: 5px;
    left: 5px;
}