.StyledGamePage {
    background-size: cover;
    background-position: center;
    img {
      object-fit: contain;
    }
}

.StyledGamePageMainSection {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 21px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    margin-top: 130px;
}

.StyledGamePageBreadcrumbs {
    width: 100%;
}

.StyledGamePageBreadcrumb {
    color: #ffffff81;
    text-decoration: none;
}

.StyledGamePageBreadcrumb:hover {
    color: #FF333B;
}

.StyledGamePageBreadcrumbDelimeter {
    color: #ffffff81;
    margin-left: 8px;
    margin-right: 8px;
}

.StyledGamePageBxImage {
    border-radius: 15px;
}

.StyledGamePageGameTitle {
    padding-top: 18px;
    font-size: 33px;
    font-weight: 900;
    line-height: 1.2em;
    max-height: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    text-align: left;
}

.StyledGamePageGameDescription {
    height: 70px; 
    width: 100%;  
    overflow: hidden;  
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: white;
    margin-top: 8px;
    margin-bottom: 18px;
}

.StyledGamePageGenresContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 15px;
    row-gap: 5px;
    align-items: center;
}

.StyledGamePageGenre {
    color: white;
    padding: 8px;
    border: 1px solid hsla(0, 0%, 100%, .102);
    border-radius: 12px;
    white-space: nowrap;
}

.StyledGamePageGalleryContainer {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.StyledGamePageInfoContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-height: 800px;
}

.StyledGamePageGamePrice {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 51px;
    line-height: 150%;
    color: #ffffff;
    text-align: left;
}

.StyledGamePageGameCurrentPrice {
    color: white;
    font-size: 51px;
    font-weight: 900;
    margin: 0;
}

.StyledGamePageGameOldPrice {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 12px;
    color: #848484;
    position: relative;
    display: inline-block;
    margin: 0;
    text-decoration: line-through;
  
    &:after {
      content: "₽";
      font-size: 24px;
      margin-left: 2px;
    }
}

.StyledGamePageGameDiscount {
    font-size: 11px;
    font-weight: 900;
    color: white;
    background-color: #D91E18;
    border-radius: 25px;
    width: 62px;
    height: 19.89px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: -10px;
    margin-top: 7px;
}

.StyledGamePageYandexMarketBanner {
    margin-top: 50px;
    width: 100%;
    padding: 18px;
    background-color: #ffd41d;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.StyledGamePageYandexMarketBannerTitle {
    font-weight: 900;
    font-size: 26px;
}

.StyledGamePageRandomGameBanner {
    position: relative;
    border-radius: 20px;
    background-color: #171d25;
    margin-top: 50px;
    width: 100%;
    padding: 18px;
}

.StyledGamePageRandomGameBannerTitle {
    color: white;
    font-weight: 900;
    font-size: 26px;
}

.StyledGamePageRandomGameBannerDescription {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}

.StyledGamePageRandomGameBannerFooter {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StyledGamePageRandomGameBannerPriceMainContainer {
    justify-self: flex-end;
    margin-left: auto;
    justify-content: flex-end;
    padding: 0px;
    height: 38px;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    background: rgb(29, 29, 29);
    justify-self: end;
}

.StyledGamePageRandomGameBannerDiscount {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    padding: 4px 8px;
    height: 100%;
    box-sizing: border-box;
    color: #ff333b;
    display: flex;
    align-items: center;
    background: #842a2d;
    word-break: keep-all;
}

.StyledGamePageRandomGameBannerPricesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 8px;
    padding-left: 8px;
}

.StyledGamePageRandomGameBannerItemPrice {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 11px;
    margin-top: 2px;
    position: relative;
}

.StyledGamePageRandomGameBannerItemPrice::before {
    content: "";
    left: 0px;
    right: 0px;
    position: absolute;
    top: 40%;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 2px #000;
    transform: skewY(-15deg);
}

.StyledGamePageRandomGameBannerRandomPrice {
    color: #ff333b;
    padding: 0px;
    line-height: 18px;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
    align-items: center;
    display: flex;
    white-space: nowrap;
}

.StyledGamePageRandomGameBannerLink {
    border-radius: 6px;
    background-color: #ff333b;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    height: 38px;
    font-size: 18px;
    line-height: 38px;
}

.StyledGamePageYandexMarketBannerDescription {
    margin-top: 8px;
    font-size: 18px;
}


.StyledGamePageYandexMarketBannerInfo {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StyledGamePageYandexMarketBannerLink {
    text-decoration: none;
    color: #006933;
}

.StyledGamePageYandexMarketBannerPrice {
    color: #006933;
    font-size: 32px;
    font-weight: 900;
}

.StyledGamePageYandexMarketBannerRating {
    color: #b0824a;
    font-size: 18px;
    font-weight: 900;
}

.StyledGamePageMainBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.StyledGamePageSimilarGamesTitle {
    font-size: 33px;
    font-weight: 900;
    color: white;
    text-align: left;
    padding-bottom: 20px;
}

.StyledGamePageSimilarGamesContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.StyledGamePageSimilarGame {
    text-decoration: none;
}

.StyledGamePageSimilarGameThumbnail {
    border-radius: 15px;
}

.StyledGamePageSimilarGamePrice {
    padding-top: 9px;
    font-size: 21px;
    font-weight: 900;
    color: white;
}

.StyledGamePageSimilarGameTitle {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}


.StyledGamePageBxImageRegion {
    position: absolute;
    top: 5px;
    left: 5px;
}