.SubscriptionSoonContainer {
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: row;
    gap: 3rem;
  }
  
  .SubscriptionSoonImageWrapper {
    max-width: 300px;
    flex-shrink: 0;
  }
  
  .SubscriptionSoonTextContent {
    max-width: 600px;
    text-align: left;
  }
  
  .SubscriptionSoonMain {
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
  }
  
  .SubscriptionSoonTitle {
    font-size: 32px;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  
  .SubscriptionSoonDescription {
    font-size: 18px;
    color: #a0a0a0;
    margin: 1rem 0 2rem;
    line-height: 1.5;
  }
  
  .SubscriptionSoonButton {
    background: linear-gradient(90deg, #ff00d2, #1400ff);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .SubscriptionSoonButton:hover {
    background-color: #c71616;
  }
  