.CatalogMain {
    margin-top: 150px;
    width: 100%;
}

.CatalogMainBreadcrumbsContainer {
    padding-bottom: 10px;
}

.CatalogMainBreadcrumb {
    color: rgb(147, 147, 147);
    text-decoration: none;
}

.CatalogMainBreadcrumb:hover {
    color: #FF333B;
}

.CatalogMainBreadcrumbDelimeter {
    color: rgb(147, 147, 147);
    margin-left: 8px;
    margin-right: 8px;
}

.CatalogTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.CatalogItemsCount {
    color: rgb(147, 147, 147);
    font-size: 32px;
}

.CatalogInnerCatalogWrapper {
    display: grid;
    grid-template-columns: 280px 760px;
    grid-template-rows: auto 1fr auto;
}

.CatalogInnerFilters {
    margin-right: 20px;
    padding-top: 25px;
}

.CatalogInnerItems {
    padding-top: 25px;
}