/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/layout/footer/FooterStyled.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.footer {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-ul {
    display: flex;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 27px;
}

.nav-ul li {
    transition: background 0.3s ease-out, padding 0.3s ease-out, border-radius 0.3s ease-out;
    padding: 5px 11px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.nav-ul li:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ff333b;
    transition: 0.2s ease-out;
}

.payment-ul {
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.documents {
    margin-top: 31px;
    display: flex;
    margin-bottom: 70px;
    font-family: 'Eastman Roman Trial', sans-serif;
    font-weight: 900;
    font-size: 12px;
    gap: 124px;
}

.documents li {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.5;
}

.documents a {
    text-decoration: none;
    color: white;
}
.li-styles {
    transition: background 0.3s ease-out, padding 0.3s ease-out, border-radius 0.3s ease-out;
    padding: 5px 11px;
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Eastman Roman Trial', sans-serif;
    border-radius: 5px;
    color: white;
    text-decoration: none;

}

.li-styles:hover {
    cursor: pointer;
    text-decoration: none;
    color: #FF333B;

    transition: color 0.2s ease-out;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/Container.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.container {
    max-width: 1150px;
    width: 100%;
    min-height: 100%;
    padding: 0 15px;
    position: relative;
    bottom: 0;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/header/Header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/


.styled-header {
    color: white;
    position: fixed;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    height: 86px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 35px;
    z-index: 20;
}

.header-wrap {
    display: flex;
    align-items: center;
    padding-top: 18px;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.styled-wrap {
    min-width: 157px;
    cursor: pointer;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/logo/Logo.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.styled-wrap {
    min-width: 157px;
    cursor: pointer;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/menu/MenuStyles.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.menu-styled {
    padding-left: 48px;
    font-size: 14px;
}
.ul-styles {
    display: flex;
    gap: 15px;
    font-weight: 900;
    text-decoration: none;
    list-style-type: none;
    margin-left: 59px;
}

.li-styles {
    transition: background 0.3s ease-out, padding 0.3s ease-out, border-radius 0.3s ease-out;
    padding: 5px 11px;
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Eastman Roman Trial', sans-serif;
    border-radius: 5px;
    color: white;
    text-decoration: none;

}

.li-styles:hover {
    cursor: pointer;
    text-decoration: none;
    color: #FF333B;

    transition: color 0.2s ease-out;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/input/InputFoundStyles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

.inputContainer {

    display: flex;
    align-items: center;
    width: 347px;
    height: 46px;
    margin-left: 72px;
    border: 1px solid #ffffff;
    backdrop-filter: blur(44.9px);
    border-radius: 5px;
    font-family: Arial;
    font-weight: 900;
}

.styledInput {
    width: 300px;
    background: none;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    color: #f1f1f0;
    opacity: 0.5;
    margin-left: 20px;
    caret-color: red;
    text-overflow: ellipsis;
}

.styledInput::placeholder {
    color: #f1f1f0;
    opacity: 1;
}

.customPlaceholder {
    display: flex;
    align-items: center;
    position: relative;
    color: #f1f1f0;
    margin-left: 15px;
}

.styledPopUp {
    position: absolute;
    top: 300%;
    right: 0;
    z-index: 999;
    width: 730px;
    height: auto;
    max-width: 730px;
    max-height: 430px;
    background: #000000b2;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.gameList {
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

.gameItem {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: start;
}

.gameItem:last-child {
    border-bottom: none;
}

.noResultsMessage,
.loadingMessage {
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.styledGameName {
    font-size: 24px;
    line-height: 12px;
    color: #fff;
    font-family: Arial;
    text-align: left;
    position: relative;
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
}

.styledPNewPrice {
    font-family: Arial;

    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 12px;
    color: #fff;
    display: inline-block;
    float: left;
}

.styledPNewPrice::after {
    content: "₽";
    font-size: 18px;
    margin-left: 1px;
}

.styledPOldPrice {
    margin-left: 5px;
    font-style: normal;
    font-weight: 900;
    font-family: Arial;
    font-size: 16px;
    line-height: 12px;
    color: #848484;
    position: relative;
    display: inline-block;
    width: auto;
}

.styledPOldPrice::after {
    content: "₽";
    font-size: 18px;
    margin-left: 1px;
}

.styledPOldPrice::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #d91e18;
    transform: rotate(-15deg);
    transform-origin: center;
}

.errorMessage {
    padding: 20px;
    text-align: center;
    color: #ff4d4d;
    font-size: 16px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/index.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: black;
    background-image: url(/_next/static/media/Leonardo_Kino_XL_faintly_visible_blurry_smoke_fog_everywhere_m01.dbb60fc8.png);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;    background-repeat: no-repeat;

}
/*@font-face {*/
/*    font-family: 'EastmanRoman';*/
/*    src: url('../public/fonts/EastmanRomanTrial-Medium.otf') format('opentype');*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*}*/

/*@font-face {*/
/*    font-family: 'EastmanRomanExtraBold';*/
/*    src: url('../public/fonts/EastmanRomanTrial-Extrabold.otf') format('opentype');*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*}*/

/*@font-face {*/
/*    font-family: 'EastmanRomanBold';*/
/*    src: url('../public/fonts/EastmanRomanTrial-Bold.otf') format('opentype');*/
/*    font-style: normal;*/
/*    font-weight: 900;*/
/*}*/


h1 {
    font-weight: 800;
}

h2 {
    font-weight: 400;
}
button {
    font-weight: 400;
}
p {
    font-weight: 400;
}
section {
    background-color: black;
}


/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/layoutStyled.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

