/*!************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/cardForGames/MediumCardForGames/MediumCardForGamesStyle.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MediumCardForGamesStyledCard {
    position: relative;
    z-index: 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
}

.MediumCardForGamesIconWrap {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(140, 139, 139, 0.58);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.MediumCardForGamesPlatformWrap {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(140, 139, 139, 0.58);
    width: auto;
    height: 30px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    border-radius: 50px;
    gap: 5px;
}

.MediumCardForGamesPlatformName {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
}

.MediumCardForGamesGradientOverlay {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.11) 42.26%, #000000 100%);
    z-index: 1;
}

.MediumCardForGamesStyledInfoWrap {
    position: absolute;
    bottom: 16px;
    left: 15px;
    z-index: 23;
    display: flex;
    flex-direction: column;
}

.MediumCardForGamesStyledName {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    color: #FFFFFF; 
}

.MediumCardForGamesPriceWrap {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 11px;
    height: 20px;
    align-items: center;
}

.MediumCardForGamesStyledNewPrice {
    color: white;
    font-size: 15px;
    font-weight: 900;
}

.MediumCardForGamesStyledPOldPrice {
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    color: #848484;
    position: relative;
    display: inline-block;
    width: auto;
  
    &:after {
      content: "₽";
      font-size: 10px;
      margin-left: 2px;
    }
  
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background-color: #D91E18;
      transform: rotate(-15deg);
      transform-origin: center;
    } 
}

.MediumCardForGamesSaleIcon {
    width: 40px;
    height: 14px;
    background: red;
    margin-left: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.5px;
    z-index: 2;
    font-weight: 900;
    font-size: 11px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/defaultBanner/DefaultBannerStyle.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.DefaultBannerBannersContainer {
    position: relative;
    width: 1120px;
    height: 350px;
    overflow: hidden;
}

.DefaultBannerStyledBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease-in-out;
}

.DefaultBannerStyledBannerImage {
    border-radius: 25px;
}

.DefaultBannerStyledBannerActive {
    opacity: 1;
}

.DefaultBannerStyledBannerInactive {
    opacity: 0;
}

.DefaultBannerButtonDeterm {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #e8e8e878;
    color: #222222;
    outline: none;
    border: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.DefaultBannerButtonDeterm:hover {
    cursor: pointer;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/layout/Main/MainSection/MainSectionStyle.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.MainSectionStyledWrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 40px;
}
.MainSectionStyledSection{
    margin-top: 100px;
}

.MainSectionStyledRubricatorItemLink {
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
}

.MainSectionStyledRubricatorItem {
    background: #1d1d1d;
    padding: 15px;
    height: 100%;
    border-radius: 18px;
}

.MainSectionStyledRubricatorItem:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.MainSectionStyledRubricatorItemEmoji {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.MainSectionStyledRubricatorItemTitle {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 28px;
    padding-bottom: 10px;
}

.MainSectionStyledRubricatorItemDescription {
    text-align: center;
    color: #ffffffb3;
    font-size: 18px;
}

/* .styled-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.styled-image:hover {
    transform: scale(1.05);
} */

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/layout/Main/IntroductionBanners/IntroductionBannersStyle.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.IntroductionBannersContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.IntroductionBannersItem {
    width: 48%;
    border: solid 1px rgba(255, 255, 255, 0.1);
    background-color: #ff333a56;
    color: white;
    border-radius: 1.5rem;
    padding: 15px;
}

.IntroductionBannersItemTitle {
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 12px;
}

.IntroductionBannersItemDescription {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}

.IntroductionBannersItemButton {
    color: white;
    font-size: 16px;
    background-color: #ff333b;
    border: 0;
    padding: 15px;
    border-radius: 8px;
}

.IntroductionBannersItemButton:hover {
    cursor: pointer;
}

.IntroductionBannersItemImage {
    float: right;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/layout/Main/BaseSection/BaseSectionStyle.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.StyledBaseSectionSeasonDiv {
    margin-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.StyledBaseSectionH2 {
    font-style: normal;
    font-weight: 1000;
    font-size: 32px;
    line-height: 56px;
    padding-bottom: 5px;
    text-align: left;
    color: #FFFFFF;
}

.StyledBaseSectionWrapper {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.StyledBaseSectionMoreItemsContainer {
    position: relative;
    width: 204px;
    height: 204px;
    border-radius: 15px;
    border: 1px solid #3b3b3b;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: .5rem;
}

.StyledBaseSectionMoreItems {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    background-color: #ff333ab6;
    padding: 12px;
    border: 1px solid #3b3b3b;
    font-size: 16px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.StyledBaseSectionMoreItemsShadow {
    border-radius: 8px;
    background-color: #3b3b3b;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/layout/Main/GamesSection/GamesSection.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.GamesSection {
    margin-top: 50px;
    background-color: #1d1d1d;
    border-radius: 32px;
    padding: 3rem;
}

.GamesSectionHeader {
    display: flex;
    justify-content: space-between;
}

.GamesSectionTitle {
    color: white;
    font-weight: 900;
    font-size: 38px;
}

.GamesSectionGameType {
    display: inline;
    padding: 12px 50px;
    font-weight: 900;
    background-color: #434343;
    margin-right: 8px;
    border-radius: 5px;
}
