.ProfileHeader {
    background-color: rgb(27 28 34 / 1);
    border: 1px solid hsla(0, 0%, 100%, .051);
    padding: 12px 0;
    border-radius: 8px;
}

.ProfileAvatar {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background: linear-gradient(to right, red, pink);
}

.ProfileDataContainer {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.ProfileDataPlate {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(48, 49, 57);
    background-color: rgb(27 28 34 / 1);
    border: 1px solid hsla(0, 0%, 100%, .051);
    padding: 8px 12px;
    font-weight: 500;
}

.ProfileDataPlateKey {
    color: white;
    opacity: 0.5;
    font-size: 14px;
    line-height: 20px;
}

.ProfileDataPlateValue {
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.ProfileExitButton {
    width: 100%;
    background-color: #FF333B;
    color: white;
    margin-top: 32px;
    padding: 18px;
    text-align: center;
    border-radius: 21px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.ProfileHistoryKeys {
    margin-top: 18px;
    width: 100%;
}

.ProfileHistoryKeysContainer {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ProfileHistoryKeyItem {
    background-color: rgb(27 28 34 / 1);
    border: 1px solid hsla(0, 0%, 100%, .051);
    padding: 12px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.ProfileHistoryKeyItemStatus {
    margin-left: auto;
    padding: 8px 12px;
    color: #00ff93;
    background-color: #00ff931a;
    border-radius: 12px;
    font-size: 14px;
}

.ProfileHistoryKeyItemCode {
    color: white;
    background-color: #ffffff1a;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding: 3px 8px;
}

.ProfileHistoryKeyItemName {
    color: white;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 12px;
}


.ProfileNotAuthContainer {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: row;
    gap: 3rem;
  }
  
  .ProfileNotAuthImageWrapper {
    max-width: 300px;
    flex-shrink: 0;
  }
  
  .ProfileNotAuthTextContent {
    max-width: 600px;
    text-align: left;
  }
  
  .ProfileNotAuthCode {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
  }
  
  .ProfileNotAuthTitle {
    font-size: 32px;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  
  .ProfileNotAuthDescription {
    font-size: 18px;
    color: #a0a0a0;
    margin: 1rem 0 2rem;
    line-height: 1.5;
  }
  
  .ProfileNotAuthButton {
    background-color: #e11d1d;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .ProfileNotAuthButton:hover {
    background-color: #c71616;
  }
  