.CollectionItemsContainer {
    padding: 24px;
    background-color: rgb(15, 25, 36);
}

.CollectionItemsTitle {
    color: white;
    margin: 0 0 20px;
}

.CollectionListItemsContainer {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

.CollectionItem {
    display: block;
    border-radius: 6px;
    background-color: black;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.CollectionItem:hover {
    box-shadow: 0px 6px 12px 0px #0000003D;
    transform: scale(1.05);
}

.CollectionItemThumbnail {
    width: 100%;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.CollectionItemPrice {
    color: white;
    margin-left: auto;
    padding: 8px;
    font-size: 18px;
    font-weight: 900;
}

.CollectionItemFooter {
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.CollectionItemGenres {
    padding: 5px 8px;
    display: flex;
    color: white;
    gap: 5px;
}

.CollectionItemGenre {
    padding: 4px 8px;
    color: #beee11;
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
    line-height: 16px;
    font-size: 15px;
    background-color: #434953;
    font-weight: 300;
}