.MainSectionStyledWrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.MainSectionStyledSection{
    margin-top: 150px;
}

.MainSectionStyledRubricatorItemLink {
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
}

.MainSectionStyledRubricatorItem {
    background: #1d1d1d;
    padding: 15px;
    height: 100%;
    border-radius: 18px;
}

.MainSectionStyledRubricatorItem:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.MainSectionStyledRubricatorItemEmoji {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.MainSectionStyledRubricatorItemTitle {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 28px;
    padding-bottom: 10px;
}

.MainSectionStyledRubricatorItemDescription {
    text-align: center;
    color: #ffffffb3;
    font-size: 18px;
}
